.form{
    width: 400px;
    padding: 10em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form h2{
    margin: 50px 0;
}
.form input{
    padding: 8px 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 0;
}
.form button{
    width: 120px;
    background-color: #e75e8d;
    border-radius: 30px;
    color: white;
    border: 0;
    padding:10px;
    margin: 30px auto;
}